<!-- contacts/index.html.erb -->

<!-- Display the page title -->
<h1>All Contacts</h1>

<!-- Link to create a new contact -->
<%= link_to 'New Contact', new_contact_path %>

<!-- Create a table for displaying contacts -->
<table>
  <thead>
  <tr>
    <!-- Column headers for contact attributes -->
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <!-- Iterate through each contact in the @contacts list -->
  <% @contacts.each do |contact| %>
    <!-- Display contact attributes in corresponding columns -->
    <tr>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td>
    <td>
      <!-- links for showing, editing and deleting a contact -->
      <%= link_to 'Show', contact_path(contact) %>
      <%= link_to 'Edit', edit_contact_path(contact) %>
      <%= link_to 'Destroy', contact_path(contact), data: {
        turbo_method: :delete,      # Specify a Turbo Stream delete method
        turbo_confirm: "Are you sure?"      # Display a confirmation dialogue
      } %>
    </td>
    </tr>
  <% end %>
  </tbody>
</table>
